@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Roboto:wght@300;400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.banner {
  background: url("./assests/bg.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}
.details {
  background: url("./assests/details-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
}
.stoke-text {
  color: black;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  position: relative;
}
.stoke-text::before {
  content: url("./assests/Vector.png");
  position: absolute;
  left: 15%;
  bottom: 10%;
}
